# ビルド成果物
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.aps
*.ncb
*.suo
*.user
*.sdf
*.opensdf
*.ipch
*.log

# ビルドディレクトリ
[Bb]in/
[Dd]ebug*/
[Rr]elease*/

# 自動生成ファイル
*.cache
*.dbmdl

# 一時ファイル
*.tmp
*.temp
*.bak
*~ 

# Visual Studio の設定ファイル（共有したくないもの）
.vs/
.vscode/

# プリコンパイル済みヘッダーなど
*.pch
*.res

# プロジェクトによって不要なファイル
*.exe
*.dll
*.lib

# その他
Thumbs.db
desktop.ini
